@font-face {
  font-family: "Font_Header";
  src: url("fonts/Font-Bureau-Stainless-Bold.otf");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Font_Header";
  src: url("fonts/Font-Bureau-Stainless-Light.otf");
  font-weight: 200;
  font-style: bold;
}

@font-face {
  font-family: "Font_Header";
  src: url("fonts/Font-Bureau-Stainless-Regular.otf");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: "Font_Body";
  src: url("fonts/Roboto-Light.ttf"),
    url("fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Font_Body";
  src: url("fonts/Roboto-Bold.ttf"),
    url("fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Font_Body";
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-a: #453628;
  --color-b: #f07300;
  --color-c: #b1b1b1; /* discreet borders */

  --color-d: hsl(24, 20%, 25%); /* dark brown - for ichart */

  --border-radius: 10px;
  --large-padding: 48px;
  --small-padding: 28px;
  --short-padding: 14px;

  --font-large: 44px;
  --font-header: 37px;
  --font-mid: 24px;
  --font-body: 18px;
  --font-sml: 14px;
}

/* ---------------------------------[ GENERAL HTML ]--------  */
body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Font_Header", sans-serif;
  font-weight: 200;
  font-size: var(--font-sml);
  line-height: 1.5;
  color: var(--color-a);
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
}

body.lock {
  height: 100%;
  overflow-y: hidden;
}

h1,
h2 {
  color: var(--color-b);
  font-family: "Font_Header";
}

h2 {
  font-size: 34px;
  padding-bottom: vara(--small-padding);
}

h3 {
  font-size: var(--font-body);
}

h1,
h2.tit2 {
  font-size: var(--font-large);
  margin: 0 0 var(--small-padding);
  padding: 0;
  font-weight: 600;
}

@media screen and (max-width: 767.98px) {
  h1,
  h2 {
    color: var(--color-b);
    font-family: "Font_Header";
  }

  h2 {
    font-size: calc(34px * 0.75);
  }

  h1,
  h2.tit2 {
    font-size: calc(var(--font-large) * 0.75);
  }
}

p,
li {
  color: var(--color-a);
  font-size: var(--font-body);
  line-height: 1.5em;
  font-family: "Font_Body";
  font-weight: 200;
}

p.lead {
  font-size: var(--font-mid);
  line-height: 1.5;
}

img {
  border-radius: 10px !important;
}

.contenido-image {
  display: block;
  border-radius: 10px;
  background-color: #cfcfcf;
  overflow: hidden;
  min-height: 150px;
}

input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Font_Body";
}

a:hover {
  color: var(--color-b);
}

.img-responsive {
  max-width: 100%;
}

/* ---------------------------------[ END GENERAL HTML ]--------  */

/* Convert Black SVG to color (https://codepen.io/sosuke/pen/Pjoqqp) */
.themed {
  filter: invert(48%) sepia(71%) saturate(2585%) hue-rotate(6deg)
    brightness(98%) contrast(104%);
}

.wow {
  visibility: hidden;
}

.rounded-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.verif {
  display: none;
}

.w100 {
  width: 100%;
}

.semibold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.err {
  color: red;
  font-size: var(--font-sml);
  margin-top: 5px;
}

.tx_peq {
  font-size: var(--font-sml);
  color: var(--color-a);
}

.btn-primary {
  background-color: #ffffff !important;
  color: var(--color-b) !important;
  border-color: var(--color-b) !important;
  border-radius: 35px;
  --bs-btn-padding-y: 0.475rem;
  --bs-btn-padding-x: 2rem;
  font-family: "Font_Body";
  font-weight: 400;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #ffffff !important;
}

.btn-primary:hover {
  background-color: var(--color-b) !important;
  border-color: var(--color-b) !important;
  color: #ffffff !important;
}

.btn-secondary {
  border-radius: 35px;
  --bs-btn-padding-y: 0.475rem;
  --bs-btn-padding-x: 2rem;
  font-family: "Font_Body";
  font-weight: 400;
}

.cp-hidden {
  display: none;
}

.cp-notice * {
  box-sizing: border-box;
}

.cp-notice {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.cp-bg {
  background-color: black;
  opacity: 0.9;
  padding: 20px;
  color: #ffffff;
}

.cp-bg p {
  color: #ffffff;
}

.cp-bg a.enlace {
  color: #ffffff;
  text-decoration: underline;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.config-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.config-box {
  background: #ffffff;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.config-box .tit {
  font-size: 20px;
  font-weight: 700;
}

.config-box .row {
  margin-right: -15px;
  margin-left: -15px;
}

.config-box .btn-cookie1,
.config-box .btn-cookie2 {
  padding: 8px 25px;
}

.config-box .panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}

.config-box .panel-default > .panel-heading {
  color: #333;
  background-color: #ffffff;
  border-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 10px 0;
}

.config-box .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0px solid #ddd;
  padding: 10px 0;
}

.config-box .panel-title a {
  text-decoration: none;
  font-size: 15px;
}

.config-box .panel-title i {
  margin-right: 10px;
}

.config-box .form-group {
  position: absolute;
  z-index: 999;
  right: 60px;
  top: 15px;
}

.config-box .s_activo {
  position: absolute;
  z-index: 999;
  right: 60px;
  top: var(--font-body);
  font-weight: 600;
  font-size: var(--font-sml);
}

.config-box .checkbox.checbox-switch label span::before,
.checkbox-inline.checbox-switch span::before {
  top: 2px !important;
}

.help_phone {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  width: 300px;
  margin: 0 auto;
  font-weight: 500;
}

.fa-phone {
  margin-left: 15px;
  color: #d6504f;
}

.tx_white,
.tx_white a {
  color: #ffffff;
}

.bg_brown {
  background-color: var(--color-a);
}

/* ---------------------------------[ FOOTER  ]--------  */

footer {
  width:100%;
  padding:0;
  overflow-x: hidden;
}

.footer {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer li {
  display: inline-block;
  margin-right: 20px;
  font-size: var(--font-sml);
  padding: 15px 5px;
  color: #ffffff;
  font-size: 12px;
}

.footer li a {
  text-decoration: none;
  font-size: 12px;
}

.footer-1 {
  border-top: 1px solid var(--color-a);
  padding-top: 40px;
  margin-top: 48px;
  margin-bottom: 48px;
}

@media screen and (max-width: 767.98px) {
  .footer-1 {
    padding: 10px;
  }
}

.footer-1 p {
  font-size: var(--font-sml);
}

.footer-logo {
  max-width: 200px;
}

.footer-1 h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-b);
}

.col-footer-1 {
  border-right: 1px solid var(--color-a);
}

.footer-1 ul {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.footer-1 ul li {
  padding-top: 10px;
}

.footer-1 ul li a {
  font-size: var(--font-sml);
  text-decoration: none;
  color: var(--color-b);
  font-weight: 300;
}

.footer-1 .social li {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.footer-1 .social li i {
  font-size: 20px;
}

/* ---------------------------------[ FOOTER END  ]--------  */

.texto {
  padding-top: var(--small-padding);
}

.damvideo {
  position: relative;
  min-height: 40px;
}

.damvideo video {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#home .damvideo {
  height: 100vh;
}

#home .damvideo video {
  width: 100%;
  height: 100%;
  border-radius: 0;
  object-fit: cover;
}

#home .textvideo {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 0 20px !important;
}

#home .textvideo h2 {
  max-width: 460px;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  line-height: 1.3em;
  font-weight: 600;
  font-style: bold;
}

#home .textvideo p {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 200;
  margin-bottom: 20px;
  font-family: "Font_Body";
  color: white;
  max-width: 460px;
}

.botonLink {
  margin-top: 60px;
}

.botonLink a {
  text-decoration: none;
  padding: var(--font-mid) 95px 22px 25px;
  display: inline-block;
  position: relative;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 35px;
  cursor: pointer;
  transition: 0.4s;
  font-size: 1em;
  margin-bottom: 20px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.botonLink a::after {
  content: "";
  height: 100%;
  width: 68px;
  display: block;
  top: 0;
  right: -1px;
  position: absolute;
  background-color: white;
  background-image: url(../images/icon-arrow-right-primary.svg);
  background-size: 22px !important;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 35px;
}

.botonLink a:hover {
  background-color: white;
  color: var(--color-b);
  transition: 0.4s;
}

.botonDown {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.botonDown a {
  text-decoration: none;
  padding: 25px;
  display: inline-block;
  position: relative;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 35px;
  cursor: pointer;
  transition: 0.4s;
}

.botonDown a::after {
  content: "";
  height: 100%;
  width: 56px;
  display: block;
  top: 0;
  left: -3px;
  position: absolute;
  background-image: url(../images/icon-arrow-right-white.svg);
  background-size: 16px !important;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

.botonDown a:hover {
  background-color: white;
}

.botonDown a:hover::after {
  background-image: url(../images/icon-arrow-right-primary.svg);
}

.arrow-on-title h2::after,
.arrow-on-title h3::after,
.arrow-on-title h4::after {
  height: 63px;
  width: 63px;
  position: absolute;
  content: "";
  top: 5px;
  right: -100px;
  display: block;
  background-image: url("../images/icon-arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.tx_cab {
  margin-top: 300px;
  color: #ffffff;
}

.tx_cab h1 {
  font-family: "Font_Body";
  font-size: 50px;
  font-weight: 500;
}

.tx_cab p {
  color: #ffffff;
  font-size: 20px;
  width: 490px;
}

.arrow-on-title h2,
.arrow-on-title h3,
.arrow-on-title h4 {
  font-family: "Font_Body";
  font-size: 30px;
  font-weight: 500;
  position: relative;
  padding-top: 25px;
  display: inline-block;
  margin-bottom: 25px;
  color: var(--color-b);
}

.gap-44 {
  gap: var(--font-large);
}

.box .col-12:first-child {
  padding-right: 20px;
}

.box .col-12:last-child {
  padding-left: 20px;
}

.desktop-media.dropdown-open {
  position: absolute !important;
  right: 155px !important;
  width: 196px;
  /*
    flex: 0 0 195px!important;
    
    */
}

#top-nav-desktop .image.dropdown-open {
  margin-right: 110px;
}

.imprensa-menu {
  background-color: #f7f5f3;
  list-style: none;
  position: absolute;
  width: 160px;
  z-index: -5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  opacity: 0;
  top: 20px;
  margin-left: 0;
  transition: 0.2s;
}

.desktop-media ul {
  opacity: 0;
  top: 50px;
  transition: 0.2s;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.desktop-media.dropdown-open ul {
  opacity: 1;
  z-index: 22;
}

.desktop-media ul li {
  padding: 8px 10px 0px 10px;
  border-bottom: 1px solid transparent;
  transition: 0.2s;
}

.desktop-media ul li:last-child {
  padding: 8px 10px 8px 10px;
}

.desktop-media ul li a {
  color: var(--color-a);
  font-size: var(--font-sml);
  text-decoration: none;
  z-index: 999;
}

.desktop-media ul li a:hover {
  text-decoration: underline;
}

.dropdown-open .btn {
  width: calc(100% - 36px) !important;
  background-color: #f7f5f3 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-color: #f7f5f3 !important;
  border-bottom-color: rgb(247, 245, 243) !important;
  border-bottom: 1px solid var(--color-b) !important;
  transition: 0.2s;
}

#desktop-media-open > div:hover {
  background-color: var(--color-b) !important;
  color: #fff;
  transition: 0.4s;
}

.tx_intro {
  font-family: "Font_Body";
  font-size: var(--font-mid);
  font-weight: 300;
  color: var(--color-a);
}

.tx_texto {
  padding-right: 30px;
}

.socialsharewidget-content p {
  font-size: 16px;
  position: relative;
  top: 3px;
  display: inline-block;
}

.socialsharewidget-list {
  display: inline-block;
  list-style: none;
  border-left: 1px solid var(--color-a);
  padding-left: 20px;
  margin-left: 20px;
  position: relative;
  top: 4px;
}

.socialsharewidget-list li {
  display: inline-block;
  margin-left: 15px;
}

.socialsharewidget-list li a {
  display: inline-block;
  font-size: 20px;
  position: relative;
  color: var(--color-b);
}

.valores-tit {
  font-weight: bold;
  font-size: 34px;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 5px;
}

.valores-intro {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.valores-list {
  padding-left: 15px;
}

.valores-color-1 {
  color: #55a0cf;
}

.valores-color-2 {
  color: #e61e48;
}

.valores-color-3 {
  color: #b7be2d;
}

.valores-color-4 {
  color: #8a508e;
}

.valores-color-5 {
  color: #f07300;
}

.animated.delay-01s {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.animated.delay-02s {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animated.delay-03s {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated.delay-04s {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animated.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.animated {
  -webkit-animation-duration: 0.5s !important;
  animation-duration: 0.5s !important;
  -webkit-transition-duration: 0.5s !important;
  transition-duration: 0.5s !important;
  -webkit-animation-iteration-count: 1 !important;
  animation-iteration-count: 1 !important;
}

.fadeIn {
  position: relative;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: -25px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -25px;
  }

  to {
    opacity: 1;
    top: 0px;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media all and (max-width: 991px) {
  .content-miga {
    padding-top: 100px;
  }

  .content-cab,
  .tx_texto {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}

.link-l {
  color: var(--color-a);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.link-l:after {
  color: var(--color-b);
  font-family: "Font Awesome 6 Free";
  content: "\2192";
  padding-left: 8px;
  display: inline-block;
}

.link-l:hover:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animation-arrow-left !important;
  animation-name: animation-arrow-left !important;
  -webkit-transform-origin: center bottom !important;
  transform-origin: center bottom;
}

.link-r {
  color: var(--color-a);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.link-r:before {
  color: var(--color-b);
  font-family: "Font Awesome 6 Free";
  content: "\2190";
  padding-right: 8px;
  display: inline-block;
}

.link-r:hover:before {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animation-arrow-right !important;
  animation-name: animation-arrow-right !important;
  -webkit-transform-origin: center bottom !important;
  transform-origin: center bottom;
}

.download {
  color: var(--color-b);
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.download:after {
  font-family: "Font Awesome 6 Free";
  content: "\f063";
  padding-left: 8px;
  display: inline-block;
}

.download:hover:after {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: animation-arrow-down !important;
  animation-name: animation-arrow-down !important;
  -webkit-transform-origin: center bottom !important;
  transform-origin: center bottom;
}

.tx_black {
  color: #000000 !important;
}

.tx_naranja {
  color: var(--color-b) !important;
}

.tx-14 {
  font-size: var(--font-sml);
}

.semi-bold {
  font-weight: 400;
}

#politica-de-cookies h2 {
  font-size: var(--font-body);
}

.accordion {
  width: 100%;
}
.accordion > .card {
  border: none;
}

#preguntas_accordion .card-title-color {
  font-size: var(--font-body);
}

#nosotros_accordion.accordion .card-header {
  margin-bottom: 20px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 35px;
  background-color: var(--white);
  border: 1px solid var(--color-c);
  border-radius: var(--border-radius);
}

#nosotros_accordion .card-header h2 {
  font-size: var(--font-mid);
  font-weight: 600;
  margin: 0;
  padding: 0;
}

#nosotros_accordion .card-header > div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--color-b);
  display: flex;
  align-items: center;
  justify-content: center;
}

#nosotros_accordion .card-header > div > i {
  display: block;
  color: var(--white);
  font-size: 20px;
  width: 20px;
  height: 20px;
}

/* Perhaps this isn't used - other accordion styles for bootstrap component? */
.accordion > .accordion-item {
  border: 1px solid #a3a3a3;
  margin-bottom: 20px;
  border-radius: var(--bs-accordion-border-radius);
}

.accordion-button {
  border-radius: var(--bs-accordion-border-radius);
}

.accordion > .accordion-item > h2 button {
  color: var(--color-b);
  cursor: pointer;
  font-family: "Font_Body";
  font-size: 25px;
  font-weight: 500;
  padding: 25px 30px;
}

.accordion > .accordion-item > h2 button:not(.collapsed) {
  background-color: #ffffff;
  color: var(--color-b);
}

.accordion > .accordion-item > h2 button:hover {
  background-color: var(--color-b);
  color: #ffffff;
}

.accordion > .accordion-item > h2 button::after {
  height: 49px;
  width: 49px;
  background-color: var(--color-b);
  background-image: url(../images/icon-chevron-right-white.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  right: 40px;
  top: calc(50% - var(--font-mid));
  transform: rotate(90deg);
}

.accordion > .accordion-item > h2 button:not(.collapsed)::after {
  transform: rotate(-90deg);
}

.accordion > .accordion-item > h2 button:hover::after,
.accordion > .accordion-item > h2 button:not(.collapsed)::after {
  background-image: url(../images/icon-chevron-right-primary.svg);
  background-color: #ffffff;
  color: var(--color-b);
}

#accordionCookies .accordion-header {
  position: relative;
}

#accordionCookies button:not(.collapsed) {
  background-color: #ffffff;
  color: var(--color-b);
}

.legislacion {
  font-family: "Font_Body";
  font-weight: 300;
}

.legislacion th {
  color: var(--color-b);
  font-size: var(--font-mid);
  font-weight: 500;
}

.legislacion td:first-child {
  min-width: 400px;
}

.legislacion td a {
  color: var(--color-a);
  font-weight: 500;
}

.titular {
  font-family: "Font_Body";
  font-weight: 500;
  font-size: 30px;
  color: var(--color-b);
}

.estructura-directiva .bg_gris {
  border: 1px solid #e3e3e3;
  background-color: #fbfafa;
  border-radius: 10px !important;
  margin-bottom: 10px;
  display: inline-block;
}

.estructura-directiva a.link-cargo {
  color: var(--color-a);
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}

.estructura-directiva .cargo {
  font-size: var(--font-body);
  font-weight: 400;
}

.card {
  border-radius: 10px;
}

.noticias .card {
  padding: 15px 25px;
  min-height: 210px;
  border-radius: 0;
}

.noticias .noticias_fecha {
  color: var(--color-b);
  font-size: var(--font-body);
  font-weight: 500;
  margin-bottom: 10px;
}

.noticias .noticias_titular {
  margin-bottom: 0px;
}

.noticias .card a {
  color: var(--color-a);
  font-weight: 300;
}

.te-puede-interesar .card {
  min-height: 440px;
}

.te-puede-interesar .card .link-l {
  bottom: 20px;
  position: absolute;
}

.noticias_detalle .noticias_fecha {
  color: var(--color-a);
  font-size: var(--font-body);
  font-weight: 500;
  margin-bottom: 10px;
}

.doc {
  color: var(--color-a);
  font-size: 16px;
}

.doc i {
  color: var(--color-b);
  margin-right: 12px;
  font-size: 22px;
}

.marcas .card-body {
  padding: 25px;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.marcas .card-title {
  font-family: "Font_Body";
  font-size: 30px;
  font-weight: 500;
}

.bg-red {
  background-color: var(--color-d);
}

.bg-purple {
  background-color: #44488b;
}

.bg-gold {
  background-color: #ba924a;
}

.bg-A68F66 {
  background-color: #a68f66;
}

.bg-20ACE5 {
  background-color: #20ace5;
}

.bg-BC7959 {
  background-color: #bc7959;
}

@media (min-width: 992px) {
  .pe-lg-5 {
    padding-right: 40px !important;
  }
}

/* ---------------------------------[ NAVIGATION ]--------  */

header #desktop-nav li {
  font-size: 1.15em;
}

@media only screen and (min-width: 1100px) {

  #mobile-nav {
    display: none;
  }

  #mobile_footer_nav {
    display: none;
  }

  header #desktop-nav {
    background: white;
    width: calc(100% - 40px);
    max-width: 1280px;
    margin: 0 20px;
    display: block;
    top: 0;
    position: fixed;
    left: 50%;
    transform: translate(calc(-50% - 20px), 0);
    z-index: 1000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    height: 128px;
    transition: 0.4s;
  }

  header #desktop-nav > div {
    width: calc(100% - 40px);
    max-width: 1180px;
    padding-top: 12px;
    margin: 0 auto;
    transition: 0.2s;
  }

  header #desktop-nav.open {
    width: 100%;
    max-width: 100%;
    height: 90vh;
    backface-visibility: hidden;
    transition: 0.4s;
  }

  header #desktop-nav > div.mainnavpanel {
    padding-top: 0;
  }

  header #desktop-nav > div.mainnavpanel > .navigation {
    width: 100%;
  }

  header #desktop-nav.scrolling {
    top: -80px;
    padding-bottom: 10px;
    transition: 0.2s;
  }

  #top-nav-desktop {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--font-body);
  }

  #top-nav-desktop a img {
    margin: 0 auto;
    display: inline-block;
    height: 60px;
  }

  #hamburger-button {
    margin-top: 15px;
    height: 100%;
    width: 100%;
    font-size: 0;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: rgba(0, 0, 0, 0);
    padding: 0;
  }

  #hamburger-button span {
    background-color: var(--color-b);
    width: 28px;
    height: 2px;
    top: -1px;
    content: "";
    display: block;
    position: relative;
    transition: 0.2s;
  }

  #hamburger-button span::before {
    background-color: var(--color-b);
    width: 28px;
    height: 2px;
    content: "";
    display: block;
    top: -12px;
    position: relative;
    transition: 0.2s;
  }

  #hamburger-button span::after {
    background-color: var(--color-b);
    width: 28px;
    height: 2px;
    content: "";
    display: block;
    bottom: -10px;
    position: relative;
    transition: 0.2s;
  }

  #top-nav-desktop > div:first-of-type {
    flex: 0 0 28px;
    height: var(--font-mid);
    width: 28px;
    order: 1;
    margin-right: 50px;
  }

  #top-nav-desktop > .image {
    flex: 1;
    order: 1;
  }

  #top-nav-desktop > div:nth-child(3) {
    height: 37px;
    width: 37px;
    flex: 0 0 37px;
    order: 5;
  }

  #top-nav-desktop > div:nth-child(4) {
    order: 9;
    flex: none;
    position: absolute;
    background: #ffffff;
    right: 50px;
    top: 27px;
    opacity: 0;
    z-index: -200;
    transition: 0.2s;
  }

  #top-nav-desktop > div:nth-child(5) {
    order: 3;
    flex: 0 0 75px;
    margin-right: 15px;
    position: relative;
  }

  #top-nav-desktop > div:nth-child(6) {
    order: 4;
    margin-right: 15px;
  }

  #top-nav-desktop .btn {
    margin-top: 15px;
    background-color: white;
    font-size: 1em;
    color: var(--color-b);
    padding: 6px 17px 6px 19px;
    border: 1px solid var(--color-b);
    display: inline-block;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
    z-index: 10;
    transition: 0.2s;
  }

  #top-nav-desktop .btn:hover {
    background-color: var(--color-b);
    color: #ffffff;
  }

  #top-nav-desktop > .image > a {
    display: block;
    text-align: center;
    position: relative;
  }

  header #desktop-nav.open #hamburger-button span {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
  }

  header #desktop-nav.open #hamburger-button span::before {
    transform: rotate(-45deg);
    top: -1px;
    transition: 0.2s;
  }

  header #desktop-nav.open #hamburger-button span::after {
    transform: rotate(45deg);
    top: -3px;
    transition: 0.2s;
  }

  header #desktop-nav > .mainnavpanel > ul {
    display: flex;
    list-style: none;
    position: relative;
    top: -7px;
    margin: 0px;
    padding: 0;
  }

  header #desktop-nav > .mainnavpanel > ul li {
    flex: 3;
    position: relative;
    margin-right: 0px;
    top: 8px;
    text-align: center;
  }

  header #desktop-nav > .mainnavpanel > ul li:first-child {
    text-align: center; /* left; */
  }

  header #desktop-nav > .mainnavpanel > ul li:last-child {
    text-align: center; /* right; */
  }

  header #desktop-nav > .mainnavpanel > ul li a {
    display: inline-block;
    font-size: 0.9em;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: var(--color-b);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
  }

  header #desktop-nav > .mainnavpanel > ul li.nav-item.active > a {
    border-bottom: none;
  }

  header #desktop-nav > .mainnavpanel > ul li.nav-item.active > a::after {
    display: block;
    border-radius: 5px;
    height: 10px;
    width: 110%;
    margin-left: -5%;
    background-color: var(--color-b);
    content: "";
  }

  header #desktop-nav > .mainnavpanel > ul li a.active::after {
    display: block;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    background-color: var(--color-b);
    content: "";
  }

  header #desktop-nav > .mainnavpanel > ul li > .submenupanel {
    height: 0;
    overflow: hidden;
    flex: 1;
  }

  header #desktop-nav > .mainnavpanel > ul li > .submenupanel > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header #desktop-nav > .mainnavpanel > ul li > .submenupanel > ul li {
    margin-bottom: 0px;
    opacity: 0;
    transition: 0.2s;
  }

  header #desktop-nav > .mainnavpanel > ul li > .submenupanel ul li a {
    color: var(--color-a);
    font-weight: 400;
    text-transform: none;
    text-decoration: none;
    font-size: 0.8em;
    padding-bottom: 0px;
    border-bottom: 2px solid white;
    transition: 0.2s;
  }

  header #desktop-nav > .mainnavpanel > ul li > .submenupanel ul li a:hover {
    border-bottom: 2px solid var(--color-a);
    transition: 0.2s;
  }

  #top-nav-desktop > div:nth-child(4).open {
    opacity: 1;
    transition: 0.2s;
    z-index: 10;
  }

  header #desktop-nav.open > .mainnavpanel > ul li a {
    border-bottom: 2px solid var(--color-b);
    transition: 0.2s;
  }

  header #desktop-nav.open > .mainnavpanel > ul li a.active {
    border-bottom: 0px;
    transition: 0.2s;
    margin-bottom: 0px;
  }

  header #desktop-nav.open > .mainnavpanel > ul li {
    flex: 1 !important;
    text-align: left !important;
  }

  header #desktop-nav.open > .mainnavpanel > ul li > .submenupanel {
    height: 100%;
    overflow: visible;
    transition: 0.2s;
  }

  header #desktop-nav.open > .mainnavpanel > ul li > .submenupanel > ul li {
    opacity: 1;
    transition: 0.2s;
  }
}

@media only screen and (max-width: 1099px) {
  .legislacion td:first-child {
    min-width: 120px;
  }

  .content-miga {
    padding-top: 100px;
  }

  .content-cab {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    padding: 0;
    margin:0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* Mobile - Logo: */
  #mobile-nav > .image {
    order: 1;
    flex: 1;
    text-align: center;
    padding: 10px 0;

    width:100%;
  }

  #mobile-nav > .image a img {
    height: 50px;
  }

  /* Mobile top hamburger removed (2) */

  /* Mobile - Hamburger Item: */
  #mobile-nav > div:nth-child(2) {
    order: 1;
    flex: 0 0 1px;
    padding-left: 1px;
  }

  #mobile-nav > div:nth-child(2) button {
    margin: 26px 0;
    padding: 0;
    height: 28px;
    width: 28px;
    font-size: 0;
    background-color: white;
    border: 0;
    outline: 0;
  }

  #mobile-nav > div:nth-child(2) button span {
    background-color: var(--color-b);
    width: 28px;
    height: 2px;
    top: -1px;
    content: "";
    display: block;
    position: relative;
    transition: 0.2s;
  }

  #mobile-nav > div:nth-child(2) button span::before {
    background-color: var(--color-b);
    width: 28px;
    height: 2px;
    content: "";
    display: block;
    top: -12px;
    position: relative;
    transition: 0.2s;
  }

  #mobile-nav > div:nth-child(2) button span::after {
    background-color: var(--color-b);
    width: 28px;
    height: 2px;
    content: "";
    bottom: -10px;
    display: block;
    position: relative;
    transition: 0.2s;
  }

  #mobile-nav.open > div:nth-child(2) button span {
    background-color: rgba(0, 0, 0, 0);
    transition: 0.2s;
  }

  #mobile-nav.open > div:nth-child(2) button span::before {
    transform: rotate(-45deg);
    top: -1px;
    transition: 0.2s;
  }

  #mobile-nav.open > div:nth-child(2) button span::after {
    transform: rotate(45deg);
    top: -3px;
    transition: 0.2s;
  }

  /* Mobile - Search Item - REMOVED (order 3...) : */
 

  #mobile-nav > div:nth-child(3) {
    order: 3;
    flex: 0 0 100%;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
  }

  #mobile-nav.open > div:nth-child(3) {
    height: calc(120vh - 80px);
    transition: 0.4s;
  }

  #mobile-nav > div:nth-child(3) > .navigation > ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
    border-top: 2px solid var(--color-b);
    font-size: 1em;
  }

  #mobile-nav > div:nth-child(3) > .navigation > ul li {
    position: relative;
    margin-left: 0;
    box-sizing: border-box;
  }

  #mobile-nav > div:nth-child(3) > .navigation > ul li a {
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-b);
    border-bottom: 1px solid #dad6d4;
    display: block;
    text-decoration: none;
  }

  #mobile-nav > div:nth-child(3) > .navigation > ul li > ul {
    z-index: 20;
    height: calc(100vh - 70px);
    top: 82px;
    position: fixed;
    list-style: none;
    overflow: scroll;
    width: 100%;
    left: 100%;
    transition: 0.4s;
    display: block;
    background-color: white;
    padding: 0;
  }

  #mobile-nav > div:nth-child(3) > .navigation > ul li > ul li a {
    padding: var(--font-body) 20px 19px 20px;
  }

  #mobile-nav > div:nth-child(3) > .navigation > ul li > ul.opened {
    left: 0;
    transition: 0.4s;
  }

  .openSubMenu {
    display: block;
    border: 0;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: 0px;
    position: absolute;
    background-color: white;
    outline: 0;
    border-left: 1px solid #dad6d4;
    right: 0;
    height: 62px;
    width: 70px;
    top: 0;
    font-size: 0;
    transition: 0.4s;
    cursor: pointer;
  }

  .openSubMenu::after {
    top: 20px;
    left: 20px;
    height: 30px;
    width: 30px;
    position: absolute;
    content: "";
    background-color: white;
    background-image: url(../images/icon-chevron-right-primary.svg);
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
  }

  .backToPrevious {
    width: 100%;
    text-align: left;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    padding: var(--font-body) 20px 19px 50px;
    font-family: inherit;
    font-weight: 400;
    color: var(--color-b);
    background-color: white;
    border-bottom: 1px solid #dad6d4;
    display: block;
    font-size: 1.05em;
    outline: 0;
    text-transform: inherit;
    text-decoration: none;
    background-image: url(../images/icon-chevron-left-primary.svg);
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: 15px 47%;
    transition: 0.4s;
  }



  /* 2024-10  Shortcut links in fixed footer (mobile only) */
  #mobile_footer_nav {
    display: flex;
    position: fixed;
    bottom: 0px;
    width:100%;
    z-index: 1000;
    padding: 10px 20px 20px;

    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);

    & .mob-nav-btn {
      width:50px;
      height:50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFF;
      font-size:22px;
      font-weight: 500;
      background-color: var(--color-b);
      border-radius: 25px;
      text-align: center;

      &:nth-child(1) {
        width:auto;
        text-transform:uppercase;
        padding:0 30px;

        & span {
          padding-left:10px;
          font-size: 16px;
        }
      }

      &:nth-child(3) {
        & i:nth-child(2) {
          display:none;
        }
      }
    }
    
  }

}


@media only screen and (max-width: 1340px) {
  #top-nav-desktop > div:nth-child(4) {
    right: 20px;
  }
}

/* ---------------------------------[ END NAVIGATION ]--------  */

/* --------------------------------------------------
Project : CSS Checkbox Switch
---------------------------------------------------- */
.checkbox.checbox-switch {
  padding-left: 0;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
  display: inline-block;
  position: relative;
  padding-left: 0;
}

.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
  display: none;
}

.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
  width: 35px;
  border-radius: 20px;
  height: 22px;
  border: 1px solid #dbdbdb;
  background-color: rgb(180, 182, 183);
  border-color: rgb(223, 223, 223);
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  content: " ";
  top: -13px;
  position: relative;
  left: 0;
  transition: all 0.3s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
  left: 17px;
}

/* Switch Danger */
.checkbox.checbox-switch.switch-danger label > input:checked + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked + span {
  background-color: var(--color-b);
  border-color: var(--color-b);
  box-shadow: var(--color-b) 0px 0px 0px 8px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s,
    background-color 1.2s ease 0s;
}

.checkbox.checbox-switch.switch-danger label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked:disabled + span {
  background-color: rgb(216, 119, 129);
  border-color: rgb(216, 119, 129);
  box-shadow: rgb(216, 119, 129) 0px 0px 0px 8px inset;
  transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s,
    background-color 1.2s ease 0s;
}

@media all and (max-width: 767.98px) {
  .box .col-12:first-child {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }

  .box .col-12:last-child {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .footer {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer li {
    margin-right: 15px;
    padding: 5px;
  }

  .tx_cab p {
    width: auto;
  }

  .grid-teaser.full-12 > .inner .information-bottom {
    padding-left: 20px;
    width: 95%;
  }

  .tx_intro {
    font-size: 20px;
  }

  .grid-teaser > .inner .information-container .information-container-inner {
    width: 100%;
  }

  .arrow-on-title h2::after,
  .arrow-on-title h3::after,
  .arrow-on-title h4::after {
    right: -65px;
  }

  .noticias .card {
    min-height: auto;
  }

  .te-puede-interesar .card {
    min-height: auto;
  }

  .card-text {
    padding-bottom: 35px;
  }

  .accordion > .accordion-item > h2 button {
    font-size: 16px;
    padding: 25px 95px 25px 15px;
  }
}

@keyframes animation-arrow-left {
  0% {
    transform: translate3d(0, 0px, 0);
  }

  20% {
    transform: translate3d(5px, 0, 0);
  }

  40% {
    transform: translate3d(0, 0px, 0);
  }

  60% {
    transform: translate3d(5px, 0, 0);
  }
}

@-webkit-keyframes animation-arrow-left {
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
  }

  20% {
    -webkit-transform: translate3d(5px, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(0, 0px, 0);
  }

  60% {
    -webkit-transform: translate3d(5px, 0, 0);
  }
}

@keyframes animation-arrow-right {
  0% {
    transform: translate3d(0, 0px, 0);
  }

  20% {
    transform: translate3d(5px, 0, 0);
  }

  40% {
    transform: translate3d(0, 0px, 0);
  }

  60% {
    transform: translate3d(5px, 0, 0);
  }
}

@-webkit-keyframes animation-arrow-right {
  0% {
    -webkit-transform: translate3d(0, 0px, 0);
  }

  20% {
    -webkit-transform: translate3d(5px, 0, 0);
  }

  40% {
    -webkit-transform: translate3d(0, 0px, 0);
  }

  60% {
    -webkit-transform: translate3d(5px, 0, 0);
  }
}

@keyframes animation-arrow-down {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 5px);
  }

  40% {
    transform: translate(0, 0);
  }

  60% {
    transform: translate(0, 5px);
  }
}

@-webkit-keyframes animation-arrow-down {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(0, 5px);
  }

  40% {
    transform: translate(0, 0);
  }

  60% {
    transform: translate(0, 5px);
  }
}

/* ---------------------------------[ HEADER BEHIND MENU  ]--------  */
.bg-cabecera {
  margin-bottom: var(--large-padding);
  padding-bottom: var(--small-padding);
  height: 250px;
  display: flex;
  align-items: flex-end;
  background-color: var(--color-b);
}

.bg-cabecera > .container {
  margin: 0 auto;
  padding: 0;
  max-width: 1180px;
  width: calc(100% - 40px);
}

.bg-cabecera h1 {
  margin: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  font-size: var(--font-header);
  color: var(--white);
}

@media screen and (max-width: 767.98px) {

  .bg-cabecera {

    height: 190px;
  
    & h1 {
      font-size: calc(var(--font-header) * 0.8);
    }
  }
}

/* ---------------------------------[ MAIN CONTAINER  ]--------  */
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Space out top div when no bluebox present (mobile footer also present) */
body > header + #mobile_footer_nav + .container {
  margin-top: 180px;
}

/* match top level divs to max width and padding of main menu: */
body > .container > div.row, body > .container > section.row {
  margin: 0 auto;
  max-width: 1280px;
  width: calc(100% - 40px);
}

@media screen and (max-width: 767.98px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out top div when no bluebox present (mobile footer also present) */
  body > header + #mobile_footer_nav + .container {
    margin-top: 100px;
  }

  body > .container > div.row, body > .container > section.row {
    width: 100%;
  }
}

/* ---------------------------------[ HOMEPAGE - NEWS  ]--------  */

.noticias-card {
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: var(--large-padding);
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 767.98px) {
  .noticias-card {
    grid-template-columns: repeat(1, 1fr);
  }
}

.noticias-card > div {
  height: 100%;
}

.noticias-card .n2 {
  height: 100%;
}

.noticias-card .box {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  width: 100%;
  height: 100%;
  background: url("../images/f_img.jpg") no-repeat center center;
  overflow: hidden;
  position: relative;
}

.noticias-card > div:nth-child(2) {
  padding: var(--large-padding);
}

/* Top noticia as text only */

.noticias-card-textonly {
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: var(--large-padding);
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.noticias-card-textonly > div {
  padding: var(--large-padding);
}

/* compact card (underneath) */
.noticias-card-compact {
  padding: var(--short-padding) var(--short-padding);
  display: grid;
  grid-template-rows: auto auto 1fr;
  align-content: space-between;
  border: 1px solid var(--color-c);
  border-radius: var(--border-radius);
  min-height: 250px;
}

.noticias-card-compact .box {
  width: 100%;
  height: 250px;
  margin-bottom: var(--small-padding);
  background: url("../images/f_img.jpg") no-repeat center center;
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius);
}

.noticias-card-compact h3,
.noticias-card-compact p {
  padding: 0 var(--small-padding);
  align-self: start;
}

.noticias-card-compact p:nth-of-type(2) {
  display: block;
  align-self: end;
  font-size: var(--font-sml);
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 767.98px) {

  .noticias-card-compact {
    margin-bottom: 20px;
  }
  .box img {
    margin-bottom: 10px;
  }
}

.arrow-link {
  margin-top: var(--small-padding);
  display: inline-block;
  text-transform: uppercase;
  font-weight: 200;
  padding-right: 35px;
  position: relative;
  height: var(--font-mid);
  line-height: 20px;
  font-size: var(--small-font);
  transform: scale(1);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.arrow-link::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: var(--font-mid);
  height: 20px;
  background-image: url("../images/icon-arrow-right-primary.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-link:hover {
  transform: scale(1.05);
}

.arrow-link-back {
  margin-top: var(--small-padding);
  display: inline-block;
  font-weight: 200;
  padding-left: 30px;
  position: relative;
  height: var(--font-mid);
  line-height: 20px;
  font-size: var(--font-sml);
  transform: scale(1);
  transform-origin: right center;
  transition: transform 0.3s ease;
}

.arrow-link-back::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: var(--font-sml);
  transform: rotate(180deg);
  background-image: url("../images/icon-arrow-right-primary.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-link-back:hover {
  transform: scale(1.05);
}

/* ---------------------------------[ END HOMEPAGE - NEWS  ]--------  */


/* ---------------------------------[ SINGLE POST  ]--------  */

/* Match width to menu */
.breadcrumb-holder {
  width: calc(100% - 40px);
  max-width: 1280px;
  margin: 0 auto;
}

/* Hide breadcrumbs on mobile */
@media screen and (max-width: 767.98px) {
  .breadcrumb-holder {
    display: none;
  }

  .top-underlined {
    display: none;
  }
}

.breadcrumbs {
  font-size: var(--font-sml);
}
.breadcrumbs .separador {
  fill: var(--color-b);
  display: inline-block;
  padding: 0 10px;
}

.top-underlined {
  margin: 0 0 var(--small-padding);
  border-bottom: 1px solid var(--color-c);
}

.post-detalle header p {
  font-size: var(--font-mid);
  font-weight: 200;
}
.post-detalle header p.fecha {
  font-size: var(--font-body);
  font-weight: 200;
}

.post-detalle + div a,
.post-detalle + div u {
  color: var(--color-b);
}

.social-share {
  padding: var(--short-padding) 0;
}

.social-share div {
  display: inline-block;
}

.social-share > div:nth-child(1) {
  display: inline-block;
  border-right: 1px solid var(--color-a);
  padding-right: var(--short-padding);
  margin: 0 var(--small-padding) 0 0;
}

.social-share i {
  font-size: var(--font-body);
  padding: 5px;
}

/* ---------------------------------[ Forum Section - Links  ]--------  */

.congresos_categorias {
  margin: 0;
}
.congresos_categoria {
  border-bottom: 1px solid var(--color-c);
  position: relative;
}
.congresos_categoria.top {
  border-top: 1px solid var(--color-c);
}
.congresos_categoria a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 10px;
  position: relative;
  z-index: 999;
  color: var(--color-b);
}
.congresos_categoria:after {
  font-family: "Font Awesome 6 Free";
  content: "\f061";
  float: right;
  color: var(--color-b);
  position: absolute;
  z-index: 998;
  top: 14px;
  right: 15px;
}

/* ---------------------------------[ FAQ Section - Links  ]--------  */

.pregunta {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
}
.pregunta.top {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.pregunta a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 0;
  position: relative;
  z-index: 999;
}
.pregunta:after {
  font-family: "Font Awesome 6 Free";
  content: "\002B";
  float: right;
  color: var(--color-b);
  position: absolute;
  z-index: 998;
  top: 4px;
  right: 15px;
  font-size: 35px;
}
.pregunta.collapsed:after {
  font-family: "Font Awesome 6 Free";
  content: "\2212";
  color: var(--color-b);
  position: absolute;
  right: 15px;
}

.preguntas_categorias .pregunta a {
  color: var(--color-b);
}

/* ---------------------------------[ Contact forms: Denuncias  ]--------  */

.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--color-b);
}
.sub-menu li {
  display: inline-block;
  padding: 15px 15px 15px 0;
}
.sub-menu li a {
  color: var(--color-b);
  text-transform: uppercase;
  font-size: var(--font-body);
  font-weight: bold;
}
.sub-menu li a.active {
  border-bottom: 1px solid var(--color-b);
}

.contact-form {
  margin-top: calc(var(--large-padding) * -1);
}
.contact-form .row {
  padding: 0;
}

.contact-form .row > div {
  padding-top: var(--short-padding);
}

.contact-form small {
  color: var(--color-b);
}

.contact-form label {
  padding-top: var(--short-padding);
  font-size: var(--font-sml);
}

/* ---------------------------------[ Homepage - Chart and Denuncias ]--------  */
#iframe_chart {
  height: 730px;
  width: 100%;
}

.tit_denuncias {
  font-size: 32px;
  font-weight: 600;
}

.num_denuncias {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
  margin-bottom: 0;
  color: #fff;
}

.tot_denuncias {
  font-weight: 400;
  color: #fff;
}

.echart-div {
  position: relative;
  height: 500px;
  width: 100%;
}

#denuncias {
  position: absolute;
  height: 500px;
  width: 100%;
}

.box_shadow {
  border: 1px solid var(--color-c);
  border-radius: 10px;
}

.btn-map {
  color: var(--color-d);
  background-color: #ffffff;
  border-color: var(--color-d);
  margin: 20px 5px 0 5px;
  padding: 3px 30px 3px 30px !important;
  font-size: 18px;
  min-width: 220px;
}

@media screen and (max-width:767px) {

  #iframe_chart {
    height: 1000px;
  }

  .box_shadow {
    border: none;
  }

  .btn-map {
    margin: 15px 5px 0 5px;
    padding: 3px 15px 3px 15px !important;
    font-size: 16px;
    min-width: auto;
  }
}

.btn-map:hover,
.btn-map-active {
  color: #ffffff !important;
  background-color: var(--color-d) !important;
  border-color: var(--color-d) !important;
}

/* ---------------------------------[ Denuncias and Contact form spacing ]--------  */
.form-control {
  margin: 5px 0 10px;
}

.para {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* ---------------------------------[ Modal Banner (app download ]--------  */

#bannerModal {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);

  & .close i {
    filter: invert(1);
    text-shadow: none;

    &:hover {
      filter: invert(0);
    }
  }
}