@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

.auth-wrapper { background: url( '../images/admin_bg.jpg') no-repeat center center; background-size: cover;}

a { color: #771425; }
a:hover, a:focus, a:focus { color: #8e263e; }

.w100 { width: 100%; }
.h100 { height: 100%; }
.logo {padding: 0 10px 0 10px; }
.table td {  padding: 5px 10px; }

.page-wrapper > .container-fluid {    padding: 20px;    min-height: calc(100vh - 122px); }

.sidebar-nav ul .sidebar-item .first-level {  padding: 0 0 10px 10px; }

.campa_nombre {  color: #771425; }
.campa_titulo { font-weight: bold; }

.page-breadcrumb { padding:0; }

.page-title {  padding-left: 15px; padding-top:10px;} 
.foto {  margin-top: 0px; }

.textopeq { font-size:12px;}
.btn-primary {
  color: #fff;
  background-color: #137eff;
  border-color: #137eff; }
  .btn-primary:hover {
    color: #fff;
    background-color: #006bec;
    border-color: #0065df; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(54, 145, 255, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #137eff;
    border-color: #137eff; }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0065df;
    border-color: #005fd2; }
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(54, 145, 255, 0.5); }

.btn-warning { color: #000000!important; }      

.ficha_denuncia p { margin-bottom: 2px;}
.titular_rojo { font-size: 20px; color:#771425; font-weight: 600; margin-top: 25px; margin-bottom: 15px!important; }
.rojo { color:#771425; font-weight: 600; }
.ficha_denuncia .det { margin-bottom: 15px!important;}


.tit3 { font-weight: bold;}
h2 { font-size: 30px; color:#771425; font-weight: bold; }


.ficha_denuncia .bold { font-weight: 600;}

.filtros label  { margin-bottom:0px; font-size: 13px; }
.filtros .form-control  { margin-bottom:0px; height: 28px; }

footer { position:fixed; bottom:0;     width:100%; }
.form-control { margin-bottom: 15px; }

.datos-totales { font-size: 11px; }
.datos-totales .card .row { padding-bottom:10px;}
.tot { font-size: 26px; font-weight: 600; margin:0 !important;}

.logo-login { padding:50px 0 ; }
#form-login { padding:50px 0 10px 0 ; }
.logo-menu { padding:19px 0 19px 0; }

.bg-negro { background-color: #000000; color: #FFFFFF; }
.bg-blanco { background-color: #FFFFFF; }
.btn {   margin:0; padding: .44rem 1.14rem;  }
.btn-rounded {    border-radius: 10em; }
#btn-login { padding: .84rem 2.14rem; font-size: 16px;  }
.waves-input-wrapper { display:block; }
.list-group { padding-left:15px; padding-right:15px; }
.nav li { padding-left:10px; }

.navbar-toggler { display:none; }
.error { padding-top: 10px; }

.btn {   margin:0; padding: .34rem 0.80rem;  font-size: 14px; }


.btn-group-lg > .btn, .btn-lg {  padding: .5rem 1rem;  font-size: 1.25rem;  line-height: 1.5;  border-radius: .3rem; }

.form-control { height: 35px; }
.form-control::-webkit-input-placeholder {   color: #FFF000; }
select.form-control { font-size: 14px;}
nav select.form-control { margin-bottom: 0px;}
.sidebar-fixed {
	height: 100vh;
	width: 270px;
	z-index: 1050;
	background-color: #fff;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;

 	-webkit-transition: left .4s ease;
	-moz-transition: left .4s ease;
	-ms-transition: left .4s ease;
	-o-transition: left .4s ease;
	transition: left .4s ease;
	transition: left 0.4s ease 0s;

 }

 /* .navbar  { -webkit-box-shadow: none; box-shadow: none; border-bottom: 1px solid #d3d3d3; height: 102px; } */
.sidebar-fixed.v { left: 0px; } 

.sidebar-fixed .list-group .active {
	-webkit-box-shadow: none;
	box-shadow: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.grey.lighten-2 {   background-color: #e0e0e0 !important; }
.sidebar-fixed .logo-wrapper		{ padding: 2.5rem; }
.sidebar-fixed .logo-wrapper img	{ max-height: 50px; }

.map-container{ overflow:hidden; padding-bottom:56.25%; position:relative; height:0; }
.map-container iframe{ left:0; top:0; height:100%; width:100%; position:absolute; }

input::-webkit-input-placeholder	{  color: #CCCCCC !important; }
input::-moz-placeholder				{  color: #CCCCCC !important; }
input:-ms-input-placeholder			{  color: #CCCCCC !important; }
input::placeholder					{  color: #CCCCCC !important; }


.list-group-item {    padding: .2rem 1.25rem;    border:0px;  /*   border: 1px solid rgba(255,255,255,.325); */ margin: 5px 0px; font-size: 14px;}
.list-group-item-action {    color: #FFFFFF;    }
.list-group-item-action:hover {    color: #007bff !important;  }

.list-group-item.active {    color: #007bff; border:0px;}
.list-group-item-action:focus, .list-group-item-action:hover {    z-index: 1;    color: #007bff;    text-decoration: none;  }

table.table th { border-bottom: 1px solid #9e9e9e; padding: 5px 10px;}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {   background-color: #FFFFFF; }
.table-striped>tbody>tr:nth-child(even)>td,.table-striped>tbody>tr:nth-child(even)>th {  background-color: #eeeeee; }

#SideNavbar ul { list-style-type: none; margin:0; padding:0; }
#SideNavbar ul ul  { margin-left: 10px; }
.list-group-item .fa-angle-down {    float: right; padding-top:5px; }
.list-group-item .fa-angle-up {    float: right; padding-top:5px; }

h4.text-primary { font-weight:700; margin-left:25px; color: #000000 !important;}


.elegant-color { background-color: #2e2e2e !important; }
h2 {    font-weight: 400; }

video { display: block; }

.white {  background-color:   #FFFFFF !important; }

#sortable { list-style-type: none; margin:0; padding:0; }
.handle { 	cursor: grab; }
.blue-background-class {	background-color: #CCCCCC; }
.texto_p { font-size: 12px; padding-left:10px; }

.table { margin-bottom: 0; }


.contador {  color: #090;  font-size: 16px; }
.contador .red {   color: #900; }
.miga {  font-size: 12px; color: #999999; margin-bottom:0; }
a.edit { font-size: 16px; color:#4b762e; }
.fa-plus-circle, .fa-trash-alt{ font-size: 18px; color:#4b762e; margin-left:10px;}

.titular { color: #771425; font-size:30px; margin-bottom: 15px;}

.td_error { background: #771425!important; color:#FFFFFF!important; } 

/*
.fancybox-content{ overflow: hidden!important; width: 1100px!important; height: 700px!important;
  border-radius: 4px;
  transform: translateY(-80px);
  transition: all .5s;
      transition-duration: 0.5s;
}
*/

.bg_green {  background-color: #4b762e; }
.tx_verde { color:#4b762e; }

.btn-primary { color: #FFFFFF; background-color: #9f2843; border-color: #9f2843; }
.btn-primary:hover {color:#FFFFFF!important; background-color:#8e263e; border-color:#8e263e;}
.btn-primary.focus, .btn-primary:focus { color:#FFFFFF; background-color:#8e263e; border-color:#8e263e; box-shadow: unset; }
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {  color: #FFFFFF;  background-color: #8e263e; border-color: #8e263e; }
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {  box-shadow: unset; }

.lista_grupos {   list-style-type: none;   margin: 0;   padding: 0; }
.lista_grupos li {   margin-bottom: 5px; }

.img-frame {  position: relative;  overflow: hidden; background-color: #000000; -webkit-border-radius: 3px;  -khtml-border-radius: 3px;  -moz-border-radius: 3px;  -ms-border-radius: 3px;  -o-border-radius: 3px;  border-radius: 3px; 
  height: 180px; width: 300px;}

.caja       { display: flex;    flex-flow: column wrap;    justify-content: center;    align-items: center;    background: #ebebeb;  }
.box2        { width: 100%;    height: 101px;    background: url( '../../images/f_img.jpg') no-repeat center center;     overflow: hidden;  }
.box2 img    { width: 100%;    height: auto;  }
.box2 iframe    { width: 100%;   height: 101px;  }

.box3        { width: 100%;    height: 350px;    background: url( '../../images/f_img.jpg') no-repeat center center;     overflow: hidden;  }
.box3 iframe    { width: 100%;   height: 350px;  }
@supports(object-fit: cover){
      .box2 img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
}

.categorias { list-style: none; margin:0; padding:0; }

input[type="radio"], input[type="checkbox"] { margin: 2px 0px 0px 0px; }
.checkbox_group input[type="checkbox"] {display:none;}
.checkbox_group input[type="checkbox"] + label { padding-left:35px; display:inline-block; /*line-height:26px;*/ background-repeat:no-repeat; cursor:pointer; }
.checkbox_group input[type="checkbox"]:checked + label { background-position: 0 -27px; }
.checkbox_group label{ background-image: url('../images/check2.png') ; font-size: 15px; font-weight: normal; height:26px;}

.datepicker { text-align: center;}

/* -------------------------------------
    CSS for Radio Button Type-1 
---------------------------------------- */
input[type="radio"] { display:none; }
input[type="radio"] + label{ margin-right: 10px; padding-left:31px; display:inline-block;  line-height:25px; background-repeat:no-repeat; cursor:pointer; }
input[type="radio"]:checked + label { background-position: 0 -125px; color: #4b762e; font-weight:600; }
.radio_group label{ background-image:url('../images/radio.png'); }




.label-info {  background-color: #39C0ED; /*font-size: 14px;*/  }
.slide, .slide2 { display: none;}
